<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <ul>
        {% for return in returns %}
        <li>{{ return }}</li>
        </ul>
        {% endfor %}
    </body>
</html>
